@import "./src/theme-variables";

#expenses-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 500px;
}

#expenses-table td, #expenses-table th {
  padding: 8px;
}

#expenses-table tr:nth-child(even) {
  background-color: $table-even-row-color;
}

#expenses-table tr:hover {
  background-color: $table-hovered-row-color;
  cursor: pointer;
}

#expenses-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $main-green;
  color: $table-odd-row-color;
}

.centered {
  text-align: center;
}

.small-size {
  width: 20px;
}

.large-size {
  width: 800px;
}

app-pagination, app-create-expense-button {
  padding: 15px;
  display: flex;
  margin: 20px;
}

app-create-expense-button {
  float: right;
  margin-left: auto;

}

.table-footer-container {
  display: flex;
}
