$main-green: #04AA6D;
$main-darker-green:#059862;
$light-grey:#dddddd;
$lighter-grey: #eeeeee;

$table-even-row-color:#f2f2f2;
$table-hovered-row-color:$light-grey;
$table-odd-row-color:white;

$form-focus-color:#5A4FCF;
